/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1d8efbea-fcryqilc version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 911px;
						
						padding-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 40px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(255, 255, 255);
						
						border-bottom-width: 2px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						width: 10%;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .inner-pic  {
		
						opacity: 0.19;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -4%;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .multi_layout .helper-div.middle-center  {
		
						padding-left: 4%;
						
						width: 92%;
						
						padding-right: 4%;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .background-div  {
			
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .preview-title  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .preview-body h1  { 
						font-family: "Playfair Display";
						font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 20px;
						
						line-height: 1.0em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .preview-item-links span  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 20px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.25em;
						
						padding-right: 30px;
						
						margin-top: 15px;
						
						padding-left: 30px;
						
						border-radius: 0px;
						
						padding-top: 20px;
						
						margin-bottom: 15px;
						
						border-width: 1px;
						
						background-color: rgb(21, 21, 21);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .preview-element.icon-source  {
		
						width: 70px;
						
						margin-bottom: 10px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .preview-link-img  {
		
						width: 30px;
						
						margin: 20px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .preview-item-links span:before  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .preview-item-links span:hover  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgba(0, 0, 0, 0.33);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 1000px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .preview-social-holder  {
		
						margin-bottom: 20px;
						
						margin-top: 20px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .middle_layout .helper-div  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1300px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .preview-subtitle  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-fcryqilc .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.15em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: 'Times New Roman';
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-1d8efbea-fcryqilc #vbid-1d8efbea-d135sh8m .preview-content-holder{
				
							text-align : center;
					
				}


 .style-1d8efbea-fcryqilc #vbid-1d8efbea-grhbmvta.inner-pic{
				
							background-position : 49.4253% 72.7769%, 49.4253% 72.7769%;
					
				} .style-1d8efbea-fcryqilc #vbid-1d8efbea-3b2okhpa.inner-pic{
				
							background-size : contain;
					
				} .style-1d8efbea-fcryqilc #vbid-1d8efbea-dy5r11v6.inner-pic{
				
							background-size : cover;
					
				}











 .style-1d8efbea-fcryqilc #vbid-1d8efbea-d135sh8m .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1d8efbea-zrzvczws version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws.master.item-box   {
		
						position: relative;
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .preview-item-links span:hover  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .preview-element.Link.hover-tester  { 
						color: rgb(126, 126, 126);
						
						background-color: rgba(147, 147, 147, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws.master.item-box   {
		
						padding-left: 4%;
						
						padding-right: 4%;
						
						width: 92%;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .preview-item-links span  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws #sr-basket-widget *  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 5px;
						
						border-color: rgb(246, 246, 246);
						
						letter-spacing: 0.05em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						padding-top: 5px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .preview-title  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .preview-body h1  { font-size:calc( 10px + ( 14rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-left: 0px;
						
						font-family: 'Raleway Heavy';
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .preview-item-links.allow-bg-color  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .submenu  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .stripe-background  {
		
						margin-left: -4%;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .preview-element.icon-source  {
		
						margin-right: 10px;
						
						margin-left: 10px;
						
						width: 40px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .middle_layout .helper-div  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .preview-subtitle  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-zrzvczws .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(152, 152, 152);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-04f625c8-6rkb49z5 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 1455px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .preview-divider  {
		
						border-bottom-width: 4px;
						
						border-color: rgb(0, 0, 0);
						
						width: 10%;
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .inner-pic  {
		
						opacity: 0.21;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter: grayscale(100%);	
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .preview-subtitle-holder  {
		
						max-width: 1050px;
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .background-div  {
			
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .preview-title  ,  .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .preview-body h1  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 25rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						font-weight: bold;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .preview-item-links span  ,  .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						border-radius: 18px;
						
						padding-top: 10px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 60px;
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .preview-item-links span:before  ,  .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .preview-item-links span:hover  ,  .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .preview-body  {
		
						line-height: 1.5em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 800px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .middle_layout .helper-div  ,  .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .preview-subtitle  ,  .style-1d8efbea-ow55cgro .style-04f625c8-6rkb49z5 .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-04f625c8-6rkb49z5 #vbid-04f625c8-3icuax6a .preview-content-holder{
				
							text-align : left;
					
				}


 .style-04f625c8-6rkb49z5 #vbid-04f625c8-n5vp36ja.inner-pic{
				
							background-position : 50.3135% 29.5905%;
					
				} .style-04f625c8-6rkb49z5 #vbid-04f625c8-iv7wer28.inner-pic{
				
							background-position : 49.2685470581055% 69.2805786132813%;
					
				} .style-04f625c8-6rkb49z5 #vbid-04f625c8-ts6zoefr.inner-pic{
				
							background-position : 50% 50%;
					
				}











 .style-04f625c8-6rkb49z5 #vbid-04f625c8-3icuax6a .preview-content-wrapper{
				
							text-align : left;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-adb7917c-2in9dclh version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh  .preview-content-holder  {
		
						margin-right: 42px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 926px;
						
						padding-right: 0px;
						
						margin-top: 42px;
						
						margin-left: 42px;
						
						padding-top: 0px;
						
						margin-bottom: 42px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgba(253, 253, 253, 0.53);
						
						padding-left: 0px;
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .inner-pic  {
		
						color: rgb(0, 0, 0);
						
						opacity: 1.0;
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .preview-title  ,  .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .preview-body h1  { font-size:calc( 10px + ( 25rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						font-weight: bold;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: "Raleway Thin";
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .preview-item-links span  ,  .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh #sr-basket-widget *  { font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 40px;
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .preview-link-img  {
		
						width: 30px;
						
						margin: 15px;
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .preview-item-links span:hover  ,  .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(57, 57, 57);
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .pic-side:after  ,  .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .item-effect-tester  ,  .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .sub.item-box:after  { 
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						max-width: 600px;
						
						margin-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
							
		}
	
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .preview-social-holder  {
		
						margin-bottom: 15px;
						
						margin-top: 10px;
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .middle_layout .helper-div  ,  .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .preview-subtitle  ,  .style-1d8efbea-ow55cgro .style-adb7917c-2in9dclh .preview-body h2  { 
						font-family: Abel;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						margin-right: 0px;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.55em;
						
						font-weight: bold;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.1em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-adb7917c-2in9dclh #vbid-adb7917c-8h08qj4b .preview-content-holder{
				
							text-align : left;
					
				}













 .style-adb7917c-2in9dclh #vbid-adb7917c-8h08qj4b .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1d8efbea-ow55cgro version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-1d8efbea-ow55cgro .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-1d8efbea-ow55cgro .Subtitle  ,  .master .style-1d8efbea-ow55cgro .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-1d8efbea-ow55cgro .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-1d8efbea-ow55cgro .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-1d8efbea-ow55cgro .Title  ,  .master .style-1d8efbea-ow55cgro .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-1d8efbea-ow55cgro .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-1d8efbea-ow55cgro .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-1d8efbea-ow55cgro .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-1d8efbea-ow55cgro .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-1d8efbea-ow55cgro .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .master .style-1d8efbea-ow55cgro .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-1d8efbea-ow55cgro.master.container > #children  {
		
						background-color: rgb(237, 237, 237);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: "Raleway Thin";
				
						letter-spacing: 0.0em;
				
						line-height: 1.2em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Raleway;
				
						letter-spacing: 0.0em;
				
						border-width: 0px;
				
						border-radius: 0px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Raleway Thin;
				
						letter-spacing: -0.05em;
				
						direction: ltr;
				
						line-height: 1.3em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Raleway;
				
						line-height: 2.1em;
					
		}
	
	
	
			  .header-box + .master.item-box.fill-height , 
			  #menu-placeholder + .master.item-box.fill-height { 
						min-height: calc(100vh - 50px)!important;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}
	
	
	
			#xprs.in-editor  .header-box + .control-handle + .master.item-box.fill-height , 
			#xprs.in-editor  #menu-placeholder + .control-handle + .master.item-box.fill-height { 
						min-height: calc(100vh - 100px)!important;
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1d8efbea-tjsjnha4 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4  .preview-content-holder  {
		
						margin-right: 17px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 1485px;
						
						padding-right: 0px;
						
						margin-top: 17px;
						
						margin-left: 17px;
						
						padding-top: 0px;
						
						margin-bottom: 17px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(0, 0, 0);
						
						border-bottom-width: 2px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						width: 100%;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .inner-pic  {
		
						opacity: 1.0;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -4%;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .multi_layout .helper-div.middle-center  {
		
						padding-left: 4%;
						
						padding-right: 4%;
						
						width: 92%;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .background-div  {
			
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .preview-title  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .preview-body h1  { 
						line-height: 0.9em;
						font-size:calc( 10px + ( 66rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-top: 0px;
						
						margin-bottom: 15px;
						
						font-family: "Playfair Display";
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .preview-item-links span  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 15rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 25px;
						
						border-color: rgba(0, 0, 0, 0.33);
						
						letter-spacing: 0.25em;
						
						padding-right: 50px;
						
						margin-top: 15px;
						
						padding-left: 50px;
						
						border-radius: 0px;
						
						padding-top: 25px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
						
						background-color: rgb(21, 21, 21);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .stripe-background  {
		
						margin-top: -5px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .preview-element.icon-source  {
		
						margin-bottom: 10px;
						
						width: 100px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .preview-link-img  {
		
						width: 33px;
						
						margin: 15px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .preview-item-links span:before  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .preview-item-links span:hover  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgba(0, 0, 0, 0.33);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .pic-side:after  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .item-effect-tester  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .sub.item-box:after  { 
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 1000px;
						
						margin-top: 20px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 30px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .middle_layout .helper-div  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1300px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .preview-subtitle  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-tjsjnha4 .preview-body h2  { 
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 25rem - 10rem ) );
						margin-right: 0px;
						
						color: rgb(21, 21, 21);
						
						letter-spacing: 0.15em;
						
						font-weight: bold;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.2em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-1d8efbea-tjsjnha4 #vbid-1d8efbea-t03t8enj .preview-content-holder{
				
							text-align : left;
					
				} .style-1d8efbea-tjsjnha4 #vbid-2ab2bf1f-rxheltlm .preview-content-holder{
				
							text-align : left;
					
				}


 .style-1d8efbea-tjsjnha4 #vbid-1d8efbea-xlpmoybq.inner-pic{
				
							background-size : contain;
					
				} .style-1d8efbea-tjsjnha4 #vbid-1d8efbea-gmfat920.inner-pic{
				
							background-position : 49.4253% 72.7769%, 49.4253% 72.7769%;
					
				} .style-1d8efbea-tjsjnha4 #vbid-1d8efbea-d6hdxjzh.inner-pic{
				
							background-size : cover;
					
				}












 .style-1d8efbea-tjsjnha4 #vbid-1d8efbea-t03t8enj .preview-content-wrapper{
				
							text-align : left;
					
				} .style-1d8efbea-tjsjnha4 #vbid-2ab2bf1f-rxheltlm .preview-content-wrapper{
				
							text-align : left;
					
				}












/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1d8efbea-bnu0ibgj version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 800px;
						
						padding-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 40px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(255, 255, 255);
						
						border-bottom-width: 2px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						width: 10%;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .inner-pic  {
		
						opacity: 0.18;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -4%;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .multi_layout .helper-div.middle-center  {
		
						padding-left: 4%;
						
						padding-right: 4%;
						
						width: 92%;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .background-div  {
			
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .preview-title  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .preview-body h1  { 
						line-height: 1.0em;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(142, 142, 142);
						
						letter-spacing: -0.05em;
						
						margin-top: 0px;
						
						margin-bottom: 10px;
						
						font-family: "Playfair Display";
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .preview-item-links span  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.25em;
						
						padding-right: 30px;
						
						margin-top: 15px;
						
						padding-left: 30px;
						
						border-radius: 0px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
						
						background-color: rgb(237, 237, 237);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .preview-element.icon-source  {
		
						margin-bottom: 10px;
						
						width: 180px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .preview-link-img  {
		
						width: 30px;
						
						margin: 20px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .preview-item-links span:before  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .preview-item-links span:hover  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .inner-pic-holder  {
		
						background-color: rgb(21, 21, 21);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 1000px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .preview-social-holder  {
		
						margin-bottom: 20px;
						
						margin-top: 20px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .middle_layout .helper-div  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1300px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .preview-subtitle  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-bnu0ibgj .preview-body h2  { 
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(142, 142, 142);
						
						letter-spacing: 0.15em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.2em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-1d8efbea-bnu0ibgj #vbid-1d8efbea-efqjjk1p .preview-content-holder{
				
							text-align : center;
					
				}


 .style-1d8efbea-bnu0ibgj #vbid-1d8efbea-g8a6tp8l.inner-pic{
				
							background-size : cover;
					
				} .style-1d8efbea-bnu0ibgj #vbid-1d8efbea-ztatu12i.inner-pic{
				
							background-position : 49.4253% 72.7769%, 49.4253% 72.7769%;
					
				} .style-1d8efbea-bnu0ibgj #vbid-1d8efbea-w9d46vjz.inner-pic{
				
							background-size : contain;
					
				}











 .style-1d8efbea-bnu0ibgj #vbid-1d8efbea-efqjjk1p .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1d8efbea-5dkbbon1 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .preview.image-cover  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .blocks-preview-divider  {
		
						border-bottom-width: 1px;
						
						width: 10%;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1  .preview-content-holder  {
		
						margin-right: 15px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 529px;
						
						padding-right: 0px;
						
						margin-top: 15px;
						
						margin-left: 15px;
						
						padding-top: 0px;
						
						margin-bottom: 15px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .blocks-preview-subtitle-holder  {
		
						max-width: 800px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .preview-divider  {
		
						margin-top: 10px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .inner-pic  {
		
						opacity: 1.0;
						
						background-size: cover;
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 #pagination-holder  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(131, 131, 131);
						
						padding-bottom: 10px;
						
						border-color: rgb(131, 131, 131);
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Times New Roman;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .blocks-preview-item-links .Link:hover  {
		
						background-color: rgb(0, 0, 0);
						
						color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .background-div  {
			
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .preview-title  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: -0.05em;
						
						font-weight: bold;
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						line-height: 1.4em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1.master.item-box   {
		
						padding-left: 4%;
						
						width: 92%;
						
						padding-right: 4%;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .preview-item-links span  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 #sr-basket-widget *  { 
						border-width: 0px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						font-family: Raleway;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .blocks-preview-body  {
		
						margin-top: 10px;
						
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .stripe-background  {
		
						opacity: 0.4;
						
		    			-webkit-filter: grayscale(100%) brightness(0.8);
						margin-top: -40px;
						
						margin-left: -4%;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .preview-element.icon-source  {
		
						margin-left: 0px;
						
						width: 40px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						text-align: center;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 30px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .blocks-preview-subtitle  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						font-family: Raleway;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .preview-icon-holder  {
		
						text-align: left;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .preview-price  {
		
						color: rgb(248, 248, 248);
						
						font-family: Arial;
							
		}
	
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .preview-item-links span:hover  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(96, 96, 96);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .preview-item-links span:before  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .blocks-preview-title  {
		font-size:calc( 10px + ( 66rem - 10rem ) );
						text-transform: uppercase;
						
						letter-spacing: 0.0em;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						font-family: Raleway;
							
		}
	
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .blocks-preview-icon-holder .icon-source  {
		
						width: 40px;
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 400px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						border-radius: 17px;
						
						padding-top: 10px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
						
						background-color: rgb(21, 21, 21);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .pic-side:after  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .item-effect-tester  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .sub.item-box:after  { 
						background-color: rgba(0, 0, 0, 0.33);
							
		}
	 .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .preview-subtitle  ,  .style-1d8efbea-ow55cgro .style-1d8efbea-5dkbbon1 .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: -0.0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






 .style-1d8efbea-5dkbbon1 #vbid-1d8efbea-urpwvpxs.inner-pic{
				
							background-size : 102%;
					
				} .style-1d8efbea-5dkbbon1 #vbid-1d8efbea-ecizdud0.inner-pic{
				
							background-size : 104%;
					
				} .style-1d8efbea-5dkbbon1 #vbid-1d8efbea-sabkgxlm.inner-pic{
				
							background-size : 117%;
					
				}
































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
